<p id="notice"><%= notice %></p>

<p>
  <strong>Language:</strong>
  <%= @greeting.language %>
</p>

<p>
  <strong>Words:</strong>
  <%= @greeting.words %>
</p>

<%= link_to 'Edit', edit_greeting_path(@greeting) %> |
<%= link_to 'Back', greetings_path %>
